html, body {
    height: 100%;
    margin: 0;
}

#login {
    margin-top: 1rem !important;
    box-sizing: border-box;
}

@media (min-width: 576px) {

    .login { 
        max-width: none !important;
    }

    .containersubmission { 
        max-width: none !important;
    }
}

@media (min-width: 1200px) {

    .login { 
        max-width: none !important;
    }

    .containersubmission {
        max-width: 1140px !important;
    }
}


@media (max-width: 768px) {

    .row.justify-content-center {
        justify-content: center;
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.titlenewrequest {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.titlenew{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start !important; 

}

.hrrequest{
    position: relative;
    border: 0;
    height: 1.5px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #000, #ccc);
}

.containersubmission {
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    max-width: 1140px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-listing1 {
    border: 1px solid #3c91e6;
    border-radius: 4px;
    width: 100%;
    max-width: 700px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add this line for drop-shadow */
}

.form-title-area1 {
    background-color: #3c91e6;
    padding: 10px; /* Adjust padding as needed */
}

.form-title3 {
    font-size: 18px;
    font-weight: 400;
    padding: 6px 15px;
    color: black;
    background-color: #3c91e6 !important;
    margin-top: 8px;
    margin: 0;
}

.form-descrip1 {
    padding: 20px 25px 20px 25px;
}

.form-details {
    margin-bottom: 5px;
    font-size: 20px;
    padding: 0px 0px 0px 20px;
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.checkdrop {
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.3);
}

.checkdrop:checked {
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.6);
}

.checkbox1 {
    margin-left: 4px;
}

.trackloglabel{
    padding-left: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

.inputbuttonlabel{
    padding-left: 15px;
}

.inputwithbutton {
    display: flex;
    flex-direction: row; /* Keep input and button in the same row */
    align-items: center; /* Center align items vertically */
    margin-top: 5px;
}

.referenceinput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.clearbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Feedback Container */
.feedback-container {
    margin-top: 0px; 
}

/* Invalid state */
.form-control.is-invalid {
    border-color: #ff1d3a;
}

.form-control.is-invalid + .invalid-feedback {
    display: block;
    color: #ff1d3a;
}

/* Valid state */
.form-control.is-valid {
    border-color: green;
}

.form-control.is-valid + .valid-feedback {
    display: block;
    color: green;
}

/* Hide feedback messages by default */
.invalid-feedback,
.valid-feedback {
    display: none;
    font-size: .875em;
    padding-left: 7px;
}

.eye {
    width: 62px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body p {
    text-align: center;
}

.iconmagnify {
    width: 1em; 
    height: 1em;
    margin-right: 8px; 
    vertical-align: middle;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.input-group .form-control {
    border-right: 0;
}

.input-group .btn {
    border-left: 0;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.eye-icon {
    width: 20px;
    height: 20px;
}

.spinnerr{
    float: right !important;
    margin-top: 18px;
}

.btntrack{
    float: right !important;
    margin-top: 18px;
}

.registerreg {
    float: right !important;
    margin-left: 10px;
    margin-top: 16px !important;
}

.registerreg1 {
    float: right !important;
    margin-left: 5px;
    margin-top: 16px !important;
}

.loginbtn {
    float: right !important;
    margin-top: 16px !important;
}

.currentphoto{
    display: flex;
    flex-direction: column;
}

.clearpic{
    display: flex;
    margin-top: 8px !important;
}

.clrbtnpic{
    margin-top: 0px !important;
}

.form-box{
    border: 1px solid #3c91e6 !important;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100% !important;
    text-align: center;
    max-width: 450px !important;
    margin-top: 20px !important;
}

.formngemail{
    justify-content: center;
    display: flex;
}

.lagayanngbuttons{
    display: block;
}

@media (max-width: 768px) {

    .pababa { 
        display: flex !important;
        flex-flow: column !important;
    }

    .navbar-nav1{
        align-items: normal !important;
    }

}

.passchange{
    justify-content: center;
    margin-bottom: 0px !important;
}

.labelforpasschange{
    justify-content: center;
    display: flex;
}

.bawasanonti{
    margin-top: 4px !important;
}

.togglericon1 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {

    .navbar-nav1{
        display: block !important;
    }

    .nav-item1{
        position: relative !important;
        display: block !important;
    }

    .dropdownreqnot1{
        width: fit-content !important;
        position: absolute !important;
        left: 0px !important;
    }

    .parasadropdownnotif{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        align-items: stretch !important;
        cursor: pointer !important;
    }

    .pdisplay{
        display: flex !important;
        flex-wrap: wrap !important;
    }
}